<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/navbar.ejs')  %>
    
    
        <% if(!user){ %>
            <section>
                <p>This is fullstack todo list app, where you can create general todo item accesible to every user. If you want to create and view your own todo list please log in or create a new account by clicking on Sign up</p>
            </section>
        <% } else null %>
    

    <div class="container">
        
        <%- include('./partials/todoElement') %>

        <%- include('./partials/createTodo')  %>
    </div>
    

</body>
</html>